.top-nav{
    display: inline-block;
	background: var(--black-color);
	width: 100%;
	border-bottom: 1px #e1e1e1 solid;
    .social-top-nav {
        float: left;
        display: table;
        a {
			display: table-cell;
			padding: 5px;
			text-align: center;
			font-size: 16px;
			height: 2em;
			width: 2em;
			line-height: 2em;
			color: gray;
			background-color: var(--black-color);
			transition-duration: .2s;
		}
        a:hover { color: #fff; }
        .fa-facebook-f:hover { background: #3B5998; }
		.fa-twitter:hover { background: #55ACEE; }
		.fa-google:hover { background: #dd4b39; }
		.fa-youtube:hover { background: #bb0000; }
    }
    .top-nav-quicklink{
        float: right;
        margin: 0;
        li{
            display: inline-block;
			font-size: 1em;
			color: white;
            
            a{
                display: block;
			    color: grey;
			    padding: 8px 15px;
			    transition-duration: .15s;
                text-decoration: none;


                i{
                    padding-right:  5px;
                }
            }
            a:hover {
                padding-top: 4px; 
                color: var(--white-color);
                border-bottom: 5px solid black;
            }
            a:hover i {
                color: var(--white-color);
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .top-nav{
        float: none;
        width: 100%;
        .social-top-nav{
            float: none;
            width: 50%;
            margin-right: auto;
            margin-left: auto;
            a{
                color: white;
            }
        }
        .top-nav-quicklink {
            display: none;
        }
    }
}